body{background-color: rgb(127, 168, 168);}

.vd{ width: 250px;}
.vt{width: 500px;}


.links{font-style: italic;
text-decoration: none;}

.liu{font-size: larger;
font-style: italic;
padding-left: 2px;

}